<div class="meta" id="match_card_meta_<%= match.id %>">
  <span class="time"><%= format_time_only(match.kickoff_at) %></span>
  <span>·</span>
  <span><%= Match.stage_label(match.stage) %><% if (letter = match_group_letter(match)) %> <%= letter %><% end %></span>
  <% if match.status == :open %>
    <% mark_label = voted ? "已预测" : "待预测" %>
    <span class="todo-mark<%= " done" if voted %>" data-tip="<%= mark_label %>"
          tabindex="0" role="img" aria-label="<%= mark_label %>"><%= "✓" if voted %></span>
  <% end %>
</div>
